$primary-color: #ffffff;
$secundary-color: #e9edf3;
$color-text-d: #2e2e2e;
$color-text-l: #5b6d82;
$bg-note: #f0f0f0;

$button-prymary-bg: #3c70ff;
$button-prymary-color: #ffffff;
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.icon{
width: 19px;
}

input{
    border: none;
    padding: 5px 10px ;
    outline: none;
    border-radius: 5px;
    font-size: 12pt;
}

input::placeholder{
    color: #bec7d3;
}

.button{
    border: none;
    padding: 5px 10px ;
    outline: none;
    border-radius: 5px;
    font-size: 12pt;
    background-color: $button-prymary-bg;
    color: $button-prymary-color;
}

.button:hover{
    cursor: pointer;
    box-shadow: 0 0 5px $button-prymary-bg;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: calc(100vw - 10px);
    min-height: 500px;
    overflow: hidden;
}

header{
    background-color: $primary-color;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: solid 1px rgb(217, 217, 217);
    img{
        width: 25px;
    }
    input{
        max-width: 300px;
        height: 35px;
    }
}

main{
    background-color: $bg-note;
    display: flex;
    flex-grow: 1;
}

aside{
    position: relative;
    background-color: $primary-color;
    height: 100%;
    width: 300px;
    overflow: hidden;
    border-right: solid 1px rgb(217, 217, 217);
    max-width: 600px;
    .titleSection{
        color: white;
        display: flex;
        justify-content: center;
        width: 100%;
        .tab{
            display: flex;
            width: 50px;
            padding: 10px 5px;
            justify-content: center;
            align-items: center;
            background-color: #5b6d82;
            gap: 10px;
            span{ display: none;}
            img{
                width: 20px;
            }
        }

        tab:hover{
            text-decoration: none;
        }

        .active{
            background-color: #3c70ff;
            width: 100%;
            span{ display: block;}
        }
    }
    .listFolders{
        .folder{
            display: flex;
            flex-direction: column;
            height: fit-content;
            max-height: 38px;
            overflow: hidden;
            transition: all 0.3s;
            background-color: #ffffff0c;
            position: relative;
            padding-bottom: 20px;

            .headerFolder{
                position: relative;
                display: flex;
                width: 100%;
                height: 38px;
                border-bottom: solid 1px rgb(217, 217, 217);
                .toggleFolder{
                    display: flex;
                    width: 100%;
                    .arrow{
                        position: absolute;
                        top: 8px;
                        left: 10px;
                        transition: all 0.2s ease-in;
                    }
                    .nameFolder{
                        padding: 10px;
                        padding-left: 35px;
                        width: 100%;
                        background-color: $secundary-color;
                        font-weight: bold;
                        color: $color-text-l;
                        user-select: none;
                        white-space: nowrap;
                    }
                }

                .actions{
                   position: absolute;
                   height: 100%;
                   right: 0;
                   display: flex;
                   background-color: $secundary-color;
                   padding: 0 5px;
                   padding-right: 10px;
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   gap: 5px;
                   width: fit-content;

                   .noteCount{
                    background-color: #3c70ff;
                    color: white;
                    padding: 2px 6px;
                    border-radius: 2px;
                    font-size: 10pt;
                   }
                   .icon{
                    width: 25px;
                    padding: 5px;
                    display: none;
                   }
                }
            }

            .headerFolder:hover{
                .actions{
                    .icon{
                        display: block;
                    }
                    .icon:hover{
                        opacity: 0.7;
                        cursor: pointer;
                    }
                }
            }

            .listNotes{
                display: flex;
                padding: 7px;
                padding-left: 20px;
                gap: 5px;
                flex-wrap: wrap;
                li{list-style: none;}
                .note{
                    padding: 5px 10px;
                    border-radius: 5px;
                    color: $color-text-d;
                    border: solid 1px rgb(217, 217, 217);
                    background-color: white;
                    cursor: pointer;
                }

                .note:hover{
                    box-shadow: 0 0 5px #00000024;
                }
            }
        }

        .collapse{
            height: fit-content;
            max-height: 5000px;
            transition: all 1s ease-in-out;
        }

        .arrowCollapse{
            transform: rotateZ(90deg);
            transition: all 0.2s ease-in;
        }
    }
}

.splitter{
    width: 25px;
    cursor: col-resize !important;
    height: 100%;
    margin-left: -12.5px;
    //background-color: #3c70ff;
    z-index: 10000;
}

.editorContainer{
    position: relative;
    flex-grow: 1;

    #toolbar-container{
        //background-color: #fafafa;
        position: absolute;
        background-color: #bf9c9c;
        width: 100%;
        border-bottom: solid 1px rgb(217, 217, 217);
        .ck.ck-toolbar{
            border: none;
            //background-color: transparent !important;
        }
    
        .ck.ck-toolbar.ck-toolbar_grouping>.ck-toolbar__items {
            flex-wrap: nowrap;
            justify-content: end;
        }
    
        .ck.ck-dropdown__panel {
            border: solid 1px rgb(217, 217, 217);
            border-radius: 5px;
            box-shadow: 0 0 5px #00000024;
            padding: 10px;
        }
    }

    .titleContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 30px;
        input{
            width: 100%;
            max-width: 700px;
            border-radius: 0;
            text-align: center;
            padding: 20px;
            font-size: 17pt;
            border-bottom: solid 1px rgb(217, 217, 217);
            font-weight: bold;
            color: #5d6d80;
        }
    }

    #editor{
        height: 100%;
        border: none !important;
        box-shadow: none !important;
        background-color: white;
        width: 100%;
        max-width: 700px;
        margin: auto;
        margin-top: 0;
        margin-bottom: 0;
        height: calc(100% - (70px + 100px));
        padding: 40px;
        padding-top: 20px;
    }

    .toolsNoteContainer{
        user-select: none;
        width: 100%;
        max-width: 700px;
        margin: auto;
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 7px;
        border-top: solid 1px rgb(217, 217, 217);

        .colorNote{
            height: 25px;
            width: 25px;
            background-color: #bcddff;
            display: inline-block;
            border-radius: 100%;
            cursor: pointer;
            border: solid 1px transparent;
        }

        .colorNote:hover{
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            border: solid 1px #393939;
        }

        .colorNote:nth-child(2){
            background-color: #c5ffbc;
        }

        .colorNote:nth-child(3){
            background-color: #fff4bc;
        }

        .colorNote:nth-child(4){
            background-color: #ffffff;
        }
    }
}