.icon {
  width: 19px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: calc(100vw - 10px);
  min-height: 500px;
  overflow: hidden;
}

header {
  background-color: #ffffff;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-bottom: solid 1px #d9d9d9;
}

header img {
  width: 25px;
}

header input {
  max-width: 300px;
  height: 35px;
}

main {
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

aside {
  position: relative;
  background-color: #ffffff;
  height: 100%;
  width: 300px;
  overflow: hidden;
  border-right: solid 1px #d9d9d9;
  max-width: 600px;
}

aside .titleSection {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

aside .titleSection .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  padding: 10px 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5b6d82;
  gap: 10px;
}

aside .titleSection .tab span {
  display: none;
}

aside .titleSection .tab img {
  width: 20px;
}

aside .titleSection tab:hover {
  text-decoration: none;
}

aside .titleSection .active {
  background-color: #3c70ff;
  width: 100%;
}

aside .titleSection .active span {
  display: block;
}

aside .listFolders .folder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 38px;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #ffffff0c;
  position: relative;
  padding-bottom: 20px;
}

aside .listFolders .folder .headerFolder {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 38px;
  border-bottom: solid 1px #d9d9d9;
}

aside .listFolders .folder .headerFolder .toggleFolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

aside .listFolders .folder .headerFolder .toggleFolder .arrow {
  position: absolute;
  top: 8px;
  left: 10px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

aside .listFolders .folder .headerFolder .toggleFolder .nameFolder {
  padding: 10px;
  padding-left: 35px;
  width: 100%;
  background-color: #e9edf3;
  font-weight: bold;
  color: #5b6d82;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
}

aside .listFolders .folder .headerFolder .actions {
  position: absolute;
  height: 100%;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e9edf3;
  padding: 0 5px;
  padding-right: 10px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

aside .listFolders .folder .headerFolder .actions .noteCount {
  background-color: #3c70ff;
  color: white;
  padding: 2px 6px;
  border-radius: 2px;
  font-size: 10pt;
}

aside .listFolders .folder .headerFolder .actions .icon {
  width: 25px;
  padding: 5px;
  display: none;
}

aside .listFolders .folder .headerFolder:hover .actions .icon {
  display: block;
}

aside .listFolders .folder .headerFolder:hover .actions .icon:hover {
  opacity: 0.7;
  cursor: pointer;
}

aside .listFolders .folder .listNotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px;
  padding-left: 20px;
  gap: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

aside .listFolders .folder .listNotes li {
  list-style: none;
}

aside .listFolders .folder .listNotes .note {
  padding: 5px 10px;
  border-radius: 5px;
  color: #2e2e2e;
  border: solid 1px #d9d9d9;
  background-color: white;
  cursor: pointer;
}

aside .listFolders .folder .listNotes .note:hover {
  -webkit-box-shadow: 0 0 5px #00000024;
          box-shadow: 0 0 5px #00000024;
}

aside .listFolders .collapse {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 5000px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

aside .listFolders .arrowCollapse {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.splitter {
  width: 25px;
  cursor: col-resize !important;
  height: 100%;
  margin-left: -12.5px;
  z-index: 10000;
}

.editorContainer {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.editorContainer #toolbar-container {
  position: absolute;
  background-color: #bf9c9c;
  width: 100%;
  border-bottom: solid 1px #d9d9d9;
}

.editorContainer #toolbar-container .ck.ck-toolbar {
  border: none;
}

.editorContainer #toolbar-container .ck.ck-toolbar.ck-toolbar_grouping > .ck-toolbar__items {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.editorContainer #toolbar-container .ck.ck-dropdown__panel {
  border: solid 1px #d9d9d9;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #00000024;
          box-shadow: 0 0 5px #00000024;
  padding: 10px;
}

.editorContainer .titleContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.editorContainer .titleContainer input {
  width: 100%;
  max-width: 700px;
  border-radius: 0;
  text-align: center;
  padding: 20px;
  font-size: 17pt;
  border-bottom: solid 1px #d9d9d9;
  font-weight: bold;
  color: #5d6d80;
}

.editorContainer #editor {
  height: 100%;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: white;
  width: 100%;
  max-width: 700px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  height: calc(100% - (70px + 100px));
  padding: 40px;
  padding-top: 20px;
}

.editorContainer .toolsNoteContainer {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  max-width: 700px;
  margin: auto;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 7px;
  border-top: solid 1px #d9d9d9;
}

.editorContainer .toolsNoteContainer .colorNote {
  height: 25px;
  width: 25px;
  background-color: #bcddff;
  display: inline-block;
  border-radius: 100%;
  cursor: pointer;
  border: solid 1px transparent;
}

.editorContainer .toolsNoteContainer .colorNote:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: solid 1px #393939;
}

.editorContainer .toolsNoteContainer .colorNote:nth-child(2) {
  background-color: #c5ffbc;
}

.editorContainer .toolsNoteContainer .colorNote:nth-child(3) {
  background-color: #fff4bc;
}

.editorContainer .toolsNoteContainer .colorNote:nth-child(4) {
  background-color: #ffffff;
}
/*# sourceMappingURL=main.css.map */